body{
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;

    overflow-y: scroll;

    background-color: #0a1318;
}

/* Header */
#oci-header{
    grid-column: 1;

    padding: 5px;
}
#oci-header > img{
    display: block;

    margin: auto;
    transform: translateX(-5%);

    width: 70%;
}
#oci-header > h1{
    margin: 10px auto -5px auto;
}

#grid-root{
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 2px));
    
    height: calc(100% - 10px);

    gap: 2px;
    padding: 5px;
}